.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

body {
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: bold;
  line-height: 44px;
}

h2 {
  margin-top: 16px;
  margin-bottom: 12px;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}

h4 {
  margin-top: 0;
  margin-bottom: 12px;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
}

p {
  margin-bottom: 8px;
}

a {
  color: #00abf7;
  text-decoration: underline;
}

ul {
  padding-left: 40px;
}

img {
  max-width: 100%;
  display: inline-block;
}

label {
  background-color: #252728;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 400;
  display: inline-block;
}

figure {
  margin-bottom: 10px;
}

figcaption {
  text-align: center;
  margin-top: 5px;
}

.c-custom-code {
  display: none;
}

.c-section.cc-ds-title {
  padding-top: 24px;
  padding-bottom: 24px;
}

.c-section.cc-ds-footer {
  color: #919191;
  background-color: #19191b;
  padding-top: 40px;
  padding-bottom: 40px;
}

.c-section.cc-snap {
  height: 1px;
}

.c-text-l {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 700;
  line-height: 44px;
}

.c-button-l {
  color: #252728;
  background-color: #7ed8ff;
  border: 1px solid rgba(255, 255, 255, .2);
  flex: 0 auto;
  align-self: center;
  margin-top: 0;
  padding: 18px 60px;
  font-size: 16px;
  font-weight: 600;
  line-height: 12.6px;
  text-decoration: none;
  transition: all .3s;
}

.c-button-l:hover {
  color: #19191b;
  background-color: #b6ebfa;
}

.c-button-l.cc-primary {
  transition: background-color .3s ease-in;
}

.c-button-l.cc-secondary {
  color: #7443ff;
  background-color: #ebe6ff;
}

.c-button-l.cc-border {
  color: #7443ff;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #7443ff;
  padding: 16px 22px;
}

.c-button-l.cc-valid {
  color: rgba(255, 255, 255, .7);
  cursor: pointer;
  border-color: rgba(255, 255, 255, .7);
}

.c-button-l.cc-valid:hover {
  color: #252728;
}

.c-button-l.cc-error {
  cursor: not-allowed;
}

.c-button-icon-content {
  display: inline-block;
}

.c-button-icon-right {
  width: 20px;
  height: 20px;
  margin-bottom: 4px;
  margin-left: 12px;
}

.c-button-icon-left {
  width: 20px;
  height: 20px;
  margin-bottom: 4px;
  margin-right: 12px;
}

.c-button-m {
  color: #fff;
  background-color: #7443ff;
  border-radius: 8px;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.8em;
  text-decoration: none;
}

.c-button-m.cc-secondary {
  color: #7443ff;
  background-color: #ebe6ff;
}

.c-button-m.cc-border {
  color: #7443ff;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #7443ff;
  padding: 8px 18px;
}

.c-text-xxxl {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Bebasneue;
  font-size: 80px;
  font-weight: 400;
  line-height: 72px;
}

.c-text-s {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 28px;
}

.c-text-xl {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
}

.c-text-xxxs {
  font-size: 13px;
  line-height: 24px;
}

.c-text-xxl {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}

.c-text-xxs {
  font-size: 14px;
  line-height: 24px;
}

.c-text-se {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 28px;
}

.c-text-m {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 30px;
}

.c-button-s {
  color: #fff;
  background-color: #7443ff;
  border-radius: 8px;
  padding: 8px 20px;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.8em;
  text-decoration: none;
}

.c-button-s.cc-secondary {
  color: #7443ff;
  background-color: #ebe6ff;
}

.c-button-s.cc-border {
  color: #7443ff;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #7443ff;
  padding: 6px 14px;
}

.c-text-2 {
  color: rgba(255, 255, 255, .4);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 16.2px;
}

.c-text-2.cc-field-header {
  padding-bottom: 2px;
  display: block;
  position: absolute;
  top: -14%;
  bottom: auto;
  left: 4%;
  right: auto;
}

.c-text-2.cc-field-header.cc-error {
  color: rgba(255, 0, 0, .8);
}

.c-text-2.cc-field-header.c-error-message {
  display: none;
}

.c-text-2.cc-field-header.c-error-message.cc-shown {
  display: block;
}

.c-text-2.cc-field-header.cc-red {
  color: rgba(255, 0, 0, .89);
}

.c-title-4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.6em;
}

.c-text-4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8em;
}

.c-container {
  max-width: 1364px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;
  display: block;
}

.c-container.cc-10cols {
  max-width: 1144px;
}

.c-container.cc-8cols {
  max-width: 924px;
}

.c-container.cc-6cols {
  max-width: 704px;
}

.c-container.cc-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.c-title-2 {
  color: #fff;
  margin-top: 0;
  font-size: 55px;
  font-weight: 600;
  line-height: 70px;
}

.c-title-6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.6em;
}

.c-title-5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.6em;
}

.c-text-3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.2em;
}

.c-title-3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.6em;
}

.c-title-1 {
  color: rgba(255, 255, 255, .8);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14em;
  font-weight: 400;
  line-height: 160px;
}

.c-title-1.cc-black {
  color: #252728;
}

.ds-divider {
  height: 1px;
  background-color: #e6e6e6;
  margin-top: 80px;
  margin-bottom: 80px;
}

.c-text-1 {
  color: #fff;
  text-align: center;
  margin: 10px 20px;
  font-size: 16px;
  line-height: 21.6px;
  position: static;
}

.c-text-1.cc-bold {
  font-weight: 600;
  display: none;
}

.c-text-1.cc-grey {
  color: #252728;
}

.c-text-1.footer {
  padding-top: 20px;
  padding-bottom: 30px;
  font-weight: 600;
  line-height: 25px;
}

.c-text-1.place-list {
  text-align: left;
  font-size: 18px;
  line-height: 25px;
}

.c-rich-content {
  font-weight: 400;
}

.c-rich-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 2em;
}

.c-rich-content h1 {
  letter-spacing: 3px;
  background-image: url('../images/5e32977351fd9e7867622b1a_divider.svg');
  background-position: 0 100%;
  background-repeat: no-repeat;
  margin-bottom: 32px;
  padding-bottom: 24px;
  font-family: Bebasneue;
  font-size: 66px;
  font-weight: 400;
  line-height: 70px;
}

.c-rich-content h2 {
  margin-bottom: 12px;
  font-size: 36px;
  line-height: 1.6em;
}

.c-rich-content h4 {
  margin-bottom: 4px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.6em;
}

.c-rich-content li {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 2em;
}

.c-rich-content a {
  color: #0058ff;
}

.c-rich-content h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.6em;
}

.c-rich-content ul {
  margin-top: 16px;
  margin-bottom: 16px;
}

.c-rich-content blockquote {
  font-size: 20px;
  line-height: 1.6em;
}

.c-text-5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.8em;
}

.ds-class {
  color: #fff;
  background-color: #7443ff;
  border-radius: 4px;
  margin-top: 32px;
  margin-bottom: 16px;
  margin-right: 4px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 24px;
  display: inline-block;
}

.ds-block {
  width: 100%;
  height: 40px;
  background-color: #7ed8ff;
}

.ds-block.cc-spaced {
  margin-bottom: 12px;
}

.c-title-wrapper {
  z-index: 2;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.c-title-wrapper.cc-flex-absolute {
  width: auto;
  display: block;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.c-cta-wrapper {
  margin-top: 40px;
}

.c-cta-wrapper.cc-small {
  margin-top: 16px;
}

.ds-colors {
  justify-content: space-around;
  display: flex;
}

.ds-colors_element {
  width: 19%;
  height: 200px;
  background-color: #0058ff;
  align-items: flex-end;
  display: flex;
}

.ds-colors_element.cc-03 {
  background-color: #ebe6ff;
}

.ds-colors_element.cc-02 {
  background-color: #523aa9;
}

.ds-colors_element.cc-04 {
  background-color: #7ed8ff;
}

.ds-colors_element.cc-01 {
  background-color: #7443ff;
}

.ds-colors_element.cc-05 {
  background-color: #19191b;
}

.ds-grid {
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
}

.c-404 {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.c-password {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
}

.c-input {
  height: 48px;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  padding: 12px 16px;
}

.c-password-form {
  min-width: 320px;
  color: #000;
}

.ds-nav {
  color: #fff;
  background-color: #000;
  padding-top: 8px;
  padding-bottom: 8px;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.ds-body {
  font-family: General Sans, sans-serif;
  font-weight: 400;
}

.ds-colors_text {
  width: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, .4);
  margin-bottom: 0;
  padding: 16px;
  font-size: 16px;
}

.ds-nav_item {
  color: rgba(255, 255, 255, .5);
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 600;
}

.ds-nav_item.w--current {
  color: #fff;
  border-bottom-color: #7443ff;
}

.c-nav_brand {
  padding-top: 20px;
  padding-bottom: 20px;
}

.ds-nav_cta {
  margin-left: 24px;
  padding-top: 14px;
  padding-bottom: 14px;
  display: inline-block;
}

.c-hero {
  min-height: 100vh;
  color: #fff;
  background-color: #19191b;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 160px;
  padding-bottom: 160px;
  display: flex;
}

.c-hero_logo {
  margin-bottom: 24px;
}

.c-webflow-tips {
  margin-top: 64px;
  margin-bottom: 24px;
}

.ds-footer-logo {
  margin-bottom: 24px;
}

.ds-hero {
  color: #fff;
  background-color: #000;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 120px;
}

.ds-hero_content {
  max-width: 960px;
  margin-left: -8px;
}

.ds-wrapper {
  background-color: #f8f8f8;
  padding: 16px 40px 40px;
}

.ds-wrapper.cc-spaced {
  margin-bottom: 24px;
}

.ds-wrapper.cc-spaced.cc-black {
  background-color: #000;
}

.ds-wrapper.cc-black {
  background-color: #19191b;
}

.ds-typography {
  justify-content: space-between;
  display: flex;
}

.ds-fonts_element {
  min-width: 240px;
  background-color: #f8f8f8;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 80px;
  padding: 40px;
  display: flex;
}

.ds-section {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}

.ds-section.cc-ds-title {
  padding-top: 24px;
  padding-bottom: 24px;
}

.ds-section.cc-ds-footer {
  color: #919191;
  background-color: #19191b;
  padding-top: 40px;
  padding-bottom: 40px;
}

.ds-section.cc-footer {
  color: #fff;
  background-color: #000;
  margin-top: 120px;
}

.ds-section_title {
  max-width: 800px;
  margin-bottom: 80px;
}

.ds-type_caption {
  color: #8d8d8d;
  margin-top: 18px;
  font-size: 16px;
}

.ds-section_sub-title {
  max-width: 720px;
  margin-bottom: 40px;
}

.ds-fonts {
  display: flex;
}

.ds-title-wrapper {
  margin-bottom: 16px;
}

.ds-text-class {
  color: #fff;
  background-color: #7443ff;
  border-radius: 4px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 15px;
  line-height: 24px;
  display: inline-block;
}

.c-nav_brand-logos {
  float: none;
  align-items: center;
  display: flex;
  position: static;
}

.c-nav_logo-1 {
  margin-right: 0;
}

.c-nav_logo-1.cc-tools {
  margin-bottom: 2px;
}

.c-button_wrap {
  background-color: #36312b;
  border-radius: 4px;
  margin-left: 4px;
  margin-right: 4px;
  padding-bottom: 0;
}

.c-button_wrap.cc-left {
  background-color: rgba(0, 0, 0, 0);
  margin-left: 0;
}

.c-button_wrap.cc-right {
  background-color: rgba(0, 0, 0, 0);
  margin-right: 0;
  padding-top: 0;
  padding-left: 0;
}

.c-nav_wrapper {
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 22px 10px 25px;
  display: flex;
}

.c-nav_wrap {
  filter: invert();
  padding-right: 0;
  display: flex;
}

.c-nav {
  z-index: 999;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #d8d8d8;
  padding-left: 24px;
  padding-right: 24px;
  position: static;
}

.c-nav.cc-transparent {
  background-color: rgba(0, 0, 0, 0);
  border-bottom-style: none;
  padding-left: 0;
}

.c-button_icon_wrapper {
  width: 16px;
  height: 16px;
  margin-top: -16px;
  margin-right: 8px;
  padding: 0;
}

.c-brand {
  filter: invert();
  margin-right: 4px;
  padding-top: 0;
  padding-bottom: 0;
  transition: opacity .5s;
}

.c-brand:hover {
  opacity: .75;
}

.c-button-m_tools {
  color: #000;
  padding: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8em;
  text-decoration: none;
}

.c-button-m_tools.cc-w-icon {
  align-items: center;
  line-height: 1.75em;
  display: flex;
}

.cc-mobile_button_hide {
  display: flex;
}

.c-body {
  background-color: #252728;
  font-family: General Sans, sans-serif;
  font-size: 1vw;
}

.c-section_content {
  width: auto;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  flex: 0 auto;
  grid-template-rows: auto;
  grid-template-columns: .75fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
  position: static;
}

.c-slider {
  width: auto;
  height: auto;
  margin-left: 0;
  font-size: 1vw;
  display: block;
  position: relative;
}

.c-hero-overlay {
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.c-slide_img {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.c-left-arrow {
  z-index: 1;
  width: 80px;
  height: 80px;
  background-color: rgba(37, 39, 40, .4);
  justify-content: center;
  align-items: center;
  display: flex;
  top: auto;
  bottom: 25%;
  left: auto;
  right: 0%;
  transform: translate(-80px);
}

.c-right-arrow {
  width: 80px;
  height: 80px;
  background-color: rgba(37, 39, 40, .4);
  justify-content: center;
  align-items: center;
  display: flex;
  top: auto;
  bottom: 25%;
  left: auto;
  right: 0%;
}

.div-block {
  z-index: 3;
  background-color: rgba(37, 39, 40, .6);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.slide-nav {
  display: none;
}

.c-arrow-blocker {
  z-index: 100;
  width: 80px;
  height: 80px;
  background-color: rgba(37, 39, 40, .5);
  position: absolute;
  top: auto;
  bottom: 25%;
  left: auto;
  right: 0%;
  transform: translate(-80px);
}

.c-arrow-blocker.cc-right {
  transform: none;
}

.c-horizontal-scroll {
  height: auto;
  align-items: center;
  display: flex;
  position: static;
  top: 2.5vh;
}

.c-scroll-track {
  height: auto;
  position: static;
}

.c-form_block {
  z-index: 5;
}

.c-form-wrapper {
  z-index: 5;
  width: 40em;
  margin-top: 3em;
  margin-left: .125em;
  position: relative;
}

.c-text-field {
  height: 55px;
  background-color: #252728;
  border: 1px solid rgba(255, 255, 255, .4);
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.c-text-field::-ms-input-placeholder {
  color: #fff;
}

.c-text-field::placeholder {
  color: #fff;
}

.c-text-field.c-text-1 {
  text-align: left;
  border-color: rgba(255, 255, 255, .11);
  margin-left: 0;
}

.c-text-field.c-text-1.cc-error {
  background-color: rgba(240, 19, 0, .1);
  border-color: rgba(255, 0, 0, .2);
}

.c-text-field.c-text-1.cc-valid {
  background-color: rgba(66, 173, 76, .1);
  background-image: url('../images/fi_check-circle.svg');
  background-position: 97%;
  background-repeat: no-repeat;
  background-size: auto;
}

.c-text-field.c-text-1.cc-select {
  background-image: url('../images/fi_chevron-down.svg');
  background-position: 97%;
  background-repeat: no-repeat;
  background-size: auto;
}

.c-text-field.c-text-1.cc-select.cc-error {
  background-position: 86%;
}

.c-text-field.c-text-1.cc-select.cc-valid {
  background-image: url('../images/fi_check-circle.svg');
}

.c-text-field.c-text-1.cc-date {
  background-image: url('../images/fi_calendar.svg');
  background-position: 97%;
  background-repeat: no-repeat;
  background-size: auto;
}

.c-text-field.c-text-1.cc-date.cc-error {
  background-position: 86%;
}

.c-text-field.c-text-1.cc-date.cc-valid {
  background-image: url('../images/fi_check-circle.svg');
}

.form {
  margin-top: 30px;
}

.c-select-field {
  height: 55px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, .4);
  margin-bottom: 0;
}

.c-select-field.c-text-1 {
  background-image: url('../images/fi_chevron-down.svg');
  background-position: 92%;
  background-repeat: no-repeat;
  background-size: auto;
}

.c-select-field.c-text-1.cc-ticket {
  border-color: rgba(255, 255, 255, .11);
  padding-left: 20px;
}

.c-select-field.c-text-1.cc-ticket.cc-error {
  background-color: rgba(240, 19, 0, .1);
  border-color: rgba(255, 0, 0, .2);
}

.c-select-field.c-text-1.cc-ticket.cc-valid {
  background-color: rgba(66, 173, 76, .1);
  background-image: url('../images/Check-Select.svg');
  background-position: 97%;
}

.c-form_submit {
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding: 30px;
  display: flex;
}

.c-checkbox-field {
  align-items: center;
  padding-left: 0;
  display: flex;
}

.c-form_radio {
  justify-content: flex-start;
  align-items: center;
  margin-top: 1em;
  display: flex;
}

.c-form_radio-wrapper {
  margin-top: 2.5em;
  margin-bottom: 6em;
  position: relative;
}

.c-form_radio-field {
  justify-content: space-around;
  align-items: center;
  margin-right: 35px;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.c-form_radio-field.cc-less-margin {
  margin-right: 20px;
}

.c-form_field {
  margin-bottom: 20px;
  position: relative;
}

.c-form_field.cc-hidden {
  display: none;
}

.radio-button {
  width: 20px;
  height: 20px;
  margin-top: 0;
}

.radio-button.w--redirected-checked {
  background-image: url('../images/White.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 12px;
  background-attachment: scroll;
  border-width: 1px;
  border-color: rgba(255, 255, 255, .4);
  border-radius: 100%;
}

.radio-button.w--redirected-focus {
  box-shadow: none;
}

.c-radio-button {
  width: 20px;
  height: 20px;
  border-color: rgba(255, 255, 255, .11);
  flex: none;
  margin-top: 2px;
  margin-left: 0;
  margin-right: 10px;
}

.c-radio-button.w--redirected-checked {
  background-image: url('../images/White.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 14px;
  border-width: 1px;
  border-color: rgba(255, 255, 255, .4);
}

.c-radio-button.w--redirected-focus {
  box-shadow: none;
}

.c-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 18px;
}

.c-checkbox.w--redirected-checked {
  background-color: #fff;
  background-image: url('../images/Vector.svg');
  background-size: auto;
  border-width: 0;
  border-radius: 0;
}

.c-checkbox.w--redirected-focus {
  box-shadow: none;
}

.c-error-message {
  display: none;
}

.c-error-message.cc-shown {
  display: block;
}

.c-error-message.cc-time-visit {
  position: absolute;
  top: -3%;
  bottom: auto;
  left: 43%;
  right: 0%;
}

.c-error-message.cc-time {
  display: none;
}

.c-form_tip-error-img {
  display: none;
  position: absolute;
  top: -60%;
  bottom: 0%;
  left: auto;
  right: -6%;
}

.c-form_field-icon {
  display: none;
  position: absolute;
  top: 32.5%;
  bottom: 0%;
  left: auto;
  right: 9%;
}

.c-form_radio-text-wrapper {
  position: relative;
}

.c-form_error-img {
  display: none;
}

.c-tool-tip {
  width: 120px;
  height: 40px;
  text-align: center;
  background-color: #fff;
  padding: 5px;
  position: absolute;
  top: -61%;
  bottom: auto;
  left: auto;
  right: -5%;
}

.c-tool-tip_error-img {
  position: absolute;
  top: auto;
  bottom: -78%;
  left: 44%;
  right: 0%;
}

.c-tool-tip_arrow {
  width: 10px;
  height: 10px;
  background-color: #fff;
  position: absolute;
  top: auto;
  bottom: -8%;
  left: 48%;
  right: 0%;
  transform: rotate(45deg);
}

.hidden {
  display: none;
}

.section {
  height: auto;
  flex-direction: column;
  display: block;
}

.section.footer-section {
  margin-bottom: 0;
  padding-bottom: 10px;
}

.text-block {
  color: #fff;
  letter-spacing: .5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: General Sans, sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.div-block-2 {
  z-index: 2;
  opacity: 1;
  color: #19191b;
  mix-blend-mode: multiply;
  background-color: rgba(255, 255, 255, 0);
  background-image: linear-gradient(#252728, rgba(255, 255, 255, .4) 42%);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.map {
  color: #ebe6ff;
  margin-top: 40px;
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
}

.flex-block {
  z-index: 3;
  max-height: 700px;
  padding-left: 5%;
  padding-right: 10%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.text-span, .text-span-2 {
  color: #7ed8ff;
}

.your-map {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 20px;
}

.place-list {
  padding-left: 40px;
  padding-right: 40px;
}

.list {
  list-style: decimal;
}

.section-2 {
  margin: 20px;
}

.link-block {
  text-decoration: underline;
}

.link-block.w--current {
  text-decoration: none;
}

@media screen and (min-width: 1920px) {
  .c-button-l {
    padding: 30px 100px;
    font-size: 30px;
  }

  .c-text-2.cc-field-header {
    font-size: 25px;
  }

  .c-title-2 {
    font-size: 60px;
    line-height: 80px;
  }

  .c-title-1 {
    font-size: 270px;
  }

  .c-text-1.footer {
    font-size: 20px;
    line-height: 30px;
  }

  .c-text-1.place-list {
    margin-top: 30px;
    font-size: 25px;
    line-height: 35px;
  }

  .c-nav_wrapper {
    margin-left: 15vw;
    padding-left: 0;
  }

  .c-nav.cc-transparent {
    margin-bottom: 0;
    padding-top: 20px;
    padding-left: 0;
  }

  .c-section_content {
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    grid-template-rows: auto;
    grid-template-columns: .75fr 1fr;
    grid-auto-columns: 1fr;
  }

  .c-slider {
    margin-left: 15vw;
  }

  .c-text-field.c-text-1 {
    height: 80px;
    text-align: left;
    margin-bottom: 40px;
    font-size: 25px;
  }

  .form {
    margin-top: 44px;
  }

  .section {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
  }

  .text-block {
    padding-bottom: 0;
    font-size: 30px;
  }

  .map {
    font-size: 60px;
    line-height: 70px;
  }

  .place-list {
    padding-left: 100px;
    padding-right: 100px;
  }

  .text-block-2 {
    font-size: 35px;
  }

  .image {
    font-size: 40px;
  }
}

@media screen and (max-width: 991px) {
  .c-section {
    padding-top: 0;
    padding-bottom: 0;
  }

  .c-section.cc-ds-title {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .c-text-l {
    font-size: 24px;
    line-height: 38px;
  }

  .c-text-xxxl {
    font-size: 70px;
    line-height: 64px;
  }

  .c-text-xl {
    font-size: 28px;
    line-height: 44px;
  }

  .c-text-xxl {
    font-size: 36px;
    line-height: 48px;
  }

  .c-text-m {
    font-size: 18px;
    line-height: 38px;
  }

  .c-text-2.cc-field-header {
    left: 5%;
  }

  .c-title-4 {
    font-size: 24px;
  }

  .c-title-2 {
    font-size: 33px;
  }

  .c-title-6 {
    font-size: 18px;
  }

  .c-title-5 {
    font-size: 20px;
  }

  .c-title-3 {
    font-size: 28px;
  }

  .c-rich-content h2 {
    font-size: 28px;
    line-height: 44px;
  }

  .c-rich-content h3 {
    font-size: 24px;
    line-height: 38px;
  }

  .c-title-wrapper.cc-tablet_margin {
    margin-bottom: -15px;
  }

  .ds-colors {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .ds-colors_element {
    width: 23%;
    margin-bottom: 16px;
  }

  .ds-grid {
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .c-nav_brand {
    margin-left: 4px;
  }

  .ds-hero {
    padding-top: 160px;
    padding-bottom: 80px;
  }

  .ds-hero_content {
    margin-left: 0;
  }

  .ds-nav_menu {
    display: none;
  }

  .ds-wrapper {
    padding: 8px 24px 24px;
  }

  .ds-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .ds-section.cc-ds-title {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .ds-grid_element {
    min-width: 50%;
    margin-bottom: 24px;
  }

  .c-nav_brand-logos {
    margin-left: 4px;
  }

  .c-nav_logo-1.cc-tools {
    margin-bottom: 1px;
  }

  .c-nav_wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .c-nav_wrap {
    width: 100%;
    justify-content: flex-end;
    padding-right: 0;
  }

  .cc-mobile_button_hide {
    display: none;
  }

  .c-section_content {
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    grid-template-rows: auto;
    grid-template-columns: .75fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .c-slider {
    width: 45em;
    margin-left: 0;
  }

  .c-form-wrapper {
    margin-left: 5em;
  }

  .c-text-field {
    height: 45px;
    margin-bottom: -5px;
  }

  .c-form_submit {
    flex-direction: column;
  }

  .c-checkbox-field {
    align-self: flex-start;
    margin-top: 1em;
    margin-bottom: 3em;
    padding-left: 3px;
  }

  .c-form_radio {
    flex-direction: column;
    align-items: flex-start;
  }

  .c-form_radio-wrapper {
    margin-bottom: 0;
  }

  .c-form_radio-field {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .c-checkbox {
    margin-right: 10px;
  }

  .c-error-message.cc-time-visit {
    top: 0%;
    left: 56%;
  }

  .c-error-message.cc-time {
    display: block;
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 53%;
    right: 0%;
  }

  .c-form_tip-error-img {
    display: none;
  }

  .c-form_field-icon {
    right: 11%;
  }

  .c-form_error-img {
    display: block;
    position: absolute;
    top: 27%;
    bottom: auto;
    left: 90%;
    right: 0%;
  }

  .c-form_error-img.cc-time {
    top: 0%;
    left: 55%;
  }

  .c-form_tip-error {
    display: none;
  }

  .map {
    font-size: 33px;
  }
}

@media screen and (max-width: 767px) {
  .c-section {
    height: auto;
    padding-top: 0;
    padding-bottom: 20px;
  }

  .c-text-l {
    font-size: 20px;
    line-height: 36px;
  }

  .c-text-xxxl {
    font-size: 52px;
    line-height: 52px;
  }

  .c-text-xl {
    font-size: 24px;
    line-height: 38px;
  }

  .c-text-xxl {
    font-size: 28px;
    line-height: 44px;
  }

  .c-text-2 {
    font-size: 12px;
  }

  .c-text-2.cc-field-header {
    left: 3%;
  }

  .c-title-4 {
    font-size: 20px;
    line-height: 36px;
  }

  .c-container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .c-title-2 {
    margin-top: 20px;
    font-size: 40px;
    line-height: 44px;
  }

  .c-title-6 {
    font-size: 16px;
    line-height: 28px;
  }

  .c-title-5 {
    font-size: 18px;
    line-height: 30px;
  }

  .c-title-3 {
    font-size: 24px;
    line-height: 38px;
  }

  .c-title-1 {
    line-height: 52px;
  }

  .c-text-1 {
    font-size: 16px;
    line-height: 28px;
  }

  .c-text-1.place-list {
    font-size: 16px;
    line-height: 23px;
  }

  .c-rich-content h1 {
    font-size: 52px;
    line-height: 56px;
  }

  .c-rich-content h2 {
    font-size: 24px;
    line-height: 38px;
  }

  .c-rich-content h4 {
    font-size: 18px;
    line-height: 36px;
  }

  .c-rich-content h3 {
    font-size: 20px;
    line-height: 36px;
  }

  .c-title-wrapper.cc-flex-absolute {
    position: absolute;
    top: 3%;
    bottom: auto;
    left: 0%;
    right: 0%;
  }

  .ds-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .c-nav_brand-logos {
    margin-left: 0;
  }

  .c-nav_logo-1 {
    margin-right: 0;
  }

  .c-nav_wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .c-nav.cc-transparent {
    padding-left: 50px;
  }

  .c-brand {
    padding-left: 0;
  }

  .c-section_content {
    width: 100vw;
    flex-direction: column;
    grid-template-rows: auto auto;
    display: block;
  }

  .c-slider {
    margin-left: 50px;
  }

  .c-left-arrow {
    width: 60px;
    height: 60px;
    bottom: 10%;
    transform: translate(-60px);
  }

  .c-right-arrow, .c-arrow-blocker.cc-right {
    width: 60px;
    height: 60px;
    bottom: 10%;
  }

  .c-arrow-blocker.cc-left {
    width: 60px;
    height: 60px;
    bottom: 10%;
    transform: translate(-60px);
  }

  .c-horizontal-scroll {
    height: auto;
    position: static;
  }

  .c-scroll-track {
    height: auto;
  }

  .c-form-wrapper {
    width: 100vw;
    margin-top: 0;
    margin-left: 0;
    padding-left: 50px;
    padding-right: 50px;
  }

  .form {
    margin-top: 40px;
  }

  .c-checkbox-field {
    margin-bottom: 5em;
  }

  .c-error-message.cc-time-visit {
    left: 44%;
  }

  .map {
    margin-top: 20px;
    font-size: 25px;
    line-height: 30px;
  }

  .place-list {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 479px) {
  .c-section {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .c-text-l {
    font-size: 18px;
    line-height: 28px;
  }

  .c-text-xxxl {
    font-size: 40px;
  }

  .c-text-s {
    font-size: 15px;
    line-height: 30px;
  }

  .c-text-xl {
    font-size: 20px;
    line-height: 34px;
  }

  .c-text-xxl {
    font-size: 24px;
    line-height: 38px;
  }

  .c-text-se {
    font-size: 15px;
    line-height: 30px;
  }

  .c-text-m {
    font-size: 16px;
    line-height: 32px;
  }

  .c-text-2.cc-field-header {
    left: 4%;
  }

  .c-container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .c-title-2 {
    font-size: 33px;
    line-height: 36px;
  }

  .c-title-3 {
    font-size: 20px;
    line-height: 34px;
  }

  .c-title-1 {
    font-size: 18em;
  }

  .c-text-1.place-list {
    font-size: 15px;
    line-height: 22px;
  }

  .c-rich-content p, .c-rich-content li {
    font-size: 15px;
  }

  .c-rich-content ul {
    padding-left: 20px;
  }

  .ds-class {
    font-size: 12px;
  }

  .ds-colors {
    flex-direction: column;
  }

  .ds-colors_element {
    width: 100%;
    height: 150px;
    margin-bottom: 16px;
  }

  .ds-hero {
    padding-top: 120px;
    padding-bottom: 40px;
  }

  .ds-wrapper.cc-spaced {
    padding: 16px;
  }

  .ds-section {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .ds-section_title {
    margin-bottom: 40px;
  }

  .ds-text-class {
    font-size: 12px;
  }

  .c-nav_brand-logos {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .c-nav_logo-1 {
    margin-right: 0;
  }

  .c-nav_wrapper {
    padding: 8px 0;
  }

  .c-nav.cc-transparent {
    padding-left: 20px;
    padding-right: 20px;
  }

  .c-button_icon_wrapper {
    margin-left: 8px;
    margin-right: 0;
  }

  .c-brand {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .c-button-m_tools.cc-w-icon {
    padding-left: 0;
    padding-right: 0;
  }

  .c-button-m_tools.cc-w-icon.cc-mobile_switch {
    flex-direction: row-reverse;
  }

  .cc-mobile_button_hide {
    display: none;
  }

  .c-slider {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .c-form-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .c-text-field.c-text-1.number-choice {
    text-indent: 10px;
  }

  .c-form_submit {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .c-checkbox-field {
    margin-bottom: 10em;
  }

  .c-error-message.cc-time-visit {
    left: 64%;
  }

  .section.footer-section {
    margin-bottom: 0;
    padding-bottom: 10px;
  }

  .map {
    margin-top: 10px;
    font-size: 20px;
    line-height: 25px;
  }

  .place-list {
    padding-left: 0;
    padding-right: 0;
  }

  .text-block-3 {
    font-size: 16px;
  }
}

#w-node-_0d7c1b22-7616-144e-4e86-fccb6f266ece-930e985a {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: center;
}


@font-face {
  font-family: 'General Sans';
  src: url('../fonts/GeneralSans-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'General Sans';
  src: url('../fonts/GeneralSans-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.spinner-wrapper {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999; /* Adjust z-index as needed */
}

#loadingSpinner {
    border: 16px solid #f3f3f3; /* Light gray border */
    border-top: 16px solid #3498db; /* Blue top border */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
